.App {
  text-align: center;
  font-family: 'Source Serif Pro', serif;
}

.App-header {
  position:fixed;
  background-color: #363c3c;
  height: 66px;
  width: 100%;
  min-height: 66px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: -10px 0px 10px black;
  z-index: 10;
  /* border: 1px solid red;     */
}


.header {
  position: absolute;
  width: 100%;
  min-width: 100px;
  max-width: 1045px;
  /* border: 1px solid green;     */

}

.sideBar {
  height: 100%;
  width: 235px;
  position: absolute;
  top: 66px;
  left: 0;
  background-color: #d6d8d8;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 20px;
}

.sideBar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #383e3e;
  display: block;
}

.sideBar a:hover {
  color: #f1f1f1;
}

.canvasGrid {
  padding-left: 265px;
  padding-top: 117px;
}

.canvasDetailed {
  padding-left: 265px;
  padding-top: 117px;
}